{% extends "index.html" %}



{% if error == 1 %}
<div class="alert alert-primary d-flex align-items-center" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div>
    An example alert with an icon
  </div>
</div>

{% else %}


{% block show%}
      
  <div class="card-body">

     <table border="" class="table table-dark table-striped">
        
        <th align="text-center">
          <td ><b> ID</b></td>
          <td ><b>Name</b></td>
          <td ><b>Email</b></td>
          <td ><b>Phone</b></td>
          <td><b>college</b></td>
          <td><b>options</b></td>
        </th>

       
          {% for i in data %} 
        <tr>
            <td></td>
            <td>{{ i.id}}</td>
            <td>{{ i.name }}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.college}}</td>
            <td>



   <!---Update data in form -->
             
              

              <span class="inline">
              <form  method="POST" action="{% url 'edit' i.id%}">
                {% csrf_token %}
                
            
                  <button class="btn btn-outline-none" type="submit" >✏️</button>
             </form></span>

              
   <!---delete the  record using specific id-->

               <span class="inline">
              <form  method="POST" action="{% url 'delete' i.id %}" onsubmit="">
                 {% csrf_token %}
                
       
              <button id="option" name="delete"  type="submit" class="btn btn-outline-none" onclick=" return alt()">❌</button>
             
            </form></span>
          



            </td>
          </tr>
            {% endfor %}
       
        
      </table>

   

  </div>

  {% endblock %}

  {% endif %}


{%block page%}
<!--- pagination sectore-->

<nav aria-label="Page navigation example " style="">
   {% if s > 0 %}
  <div> Total Record <b> {{s}} </b>  and total page  <b>{{p}} </b> </div>

  <div style="margin-left:80%">
  <ul class="pagination">
    {% if data.has_previous%}
    <li class="page-item"><a class="page-link" href="/p1/search/?page={{ data.previous_page_number}}">Previous</a></li>
    {%endif %}
   <!--- 

   <li class="page-item"><a class="page-link" href="/show/?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="/show/?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="/show/?page=3">3</a></li>  

  -->

    {% if data.has_next %}
    <li class="page-item"><a class="page-link" href="/p1/search/?page={{ data.next_page_number}}">Next</a></li>
    {% endif %}
  </ul>
</div>
{% else %}

<div class="alert alert-danger d-flex align-items-center " role="alert">
  <div style="margin-left:45%">
    <b>⚠  Record not found</b>
  </div>
</div>

{% endif %}

</nav>


{% endblock %}